/* * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        } */

        *,
        *:before,
        *:after {
          box-sizing: inherit;
        }

        body {
            font-family: 'Josefin Sans', sans-serif;
        }

/* Navbar */
        .navbar {
            font-size: 18px;
            background-image: linear-gradient(260deg, #A0c1B8 0%, #709FB0 100%);
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 10px;
        }

        #violin {
          height: 50px;
          width: 50px;
        }

        #logo-name {
          position: absolute;
          left: 10 px;
          color: rgba(255, 255, 255, 0.7);
          float: left;
          margin-left: 75px;
        }



        .main-nav {
            list-style-type: none;
            display: none;
        }

        .nav-links,
        .logo {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
        }

        .logo {
            display: inline-block;
            margin-top: 10px;
            margin-left: 20px;
        }

        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
        }

        active {
            display: block;
        }


        @media screen and (min-width: 768px) {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }

            .main-nav li {
                margin: 0;
            }

            .nav-links {
                margin-left: 40px;
            }

            .logo {
                margin-top: 0;
            }

            .navbar-toggle {
                display: none;
            }

            .logo:hover,
            .nav-links:hover {
                color: rgba(255, 255, 255, 1);
            }
        }

/*Main Image*/
  .main-image {
    text-align: center;
    margin: 50px;

  }

  #main-title {
    position: relative;
    z-index: auto;
    text-align: center;
    margin: 50px;
  }
/*Intro*/
.split-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.intro {
  display: grid;
}
/* Works */

h3 {
  margin: 0 0 5px 0;
}

.works-container {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
      /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
  }

.work {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 20px;
  align-items: center;

}

.work-links {

      /*background-color: #fff;*/

      width: 100%;
      border: 1px solid #ddd;
      border-radius: 20px;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      /*margin: 20px;
      height: auto;*/
      }




      img.work-links:hover,
      img.work-links:focus,
      img.work-links.active {
        border-color: #337ab7;
      }



/* Footer */


      #page-container {
        position: relative;
        min-height: 100vh;
      }

      #content-wrap {
          padding-bottom: 2.5rem;    /* Footer height */
      }

      #footer {
          position: absolute;
          bottom: 0;
          width: 100%;
        height: 2.5rem;            /* Footer height */
      }
      .contact-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
      }

      .footer-links:hover {
        color: rgba(255, 255, 255, 1);
      }
